<div class="main-content">

  <header>
    <h1>taskbox</h1>
  </header>

  <section class="new-task-form-container">
    <form class="new-task-form">
      <div class="new-task-form-field">
        <input type="text" class="new-task-form-input" id="new-task-title" name="task[title]" placeholder="task title">
      </div>
      <div class="new-task-form-field">
        <textarea class="new-task-form-input" id="new-task-body" name="task[body]" placeholder="task body"></textarea>
      </div>
      <div class="new-task-errors-wrapper"><div id="new-task-errors" class="hidden"></div></div>
      <button id="new-task-submit">submit</button>
    </form>
  </section>

  <section class="tasks-container">
    <ul id="tasks-list"></ul>
  </section>

</div>