<div class="main-content">

  <header>
    <h1>ideabox</h1>
  </header>

  <section class="new-idea-form-container">
    <form class="new-idea-form">
      <div class="new-idea-form-field">
        <input type="text" class="new-idea-form-input" id="new-idea-title" name="idea[title]" placeholder="idea title">
      </div>
      <div class="new-idea-form-field">
        <textarea class="new-idea-form-input" id="new-idea-body" name="idea[body]" placeholder="idea body"></textarea>
      </div>
      <div class="new-idea-errors-wrapper"><div id="new-idea-errors" class="hidden"></div></div>
      <button id="new-idea-submit">submit</button>
    </form>
  </section>

  <section class="ideas-container">
    <ul id="ideas-list"></ul>
  </section>

</div>