
$form-color: #eaeaea;
$button-color: #ababab;
$danger-color: #842322;
$focus-color: #48919e;


// TODO: Refactor and next in SCSS rather than CSS format.

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

input, textarea {
  font-weight: 500;
  letter-spacing: 1.2;
  color: darken($form-color, 65);
}

.main-content {
  margin: auto;
  max-width: 600px;
}

.new-task-form {
  background-color: $form-color;
  border: 5px solid darken($form-color, 5);
  padding: 1em;
  margin-bottom: 2em;
}

.new-task-form-field {
  margin-bottom: 1em;
}

.new-task-form-input {
  background-color: #f0f0f0;
  border: 8px solid #f0f0f0;
  border-radius: 2px;
  display: block;
  font-size: 1.5em;
  margin: 2px 0;
  padding: 5px 5px 5px 10px;
  width: 100%;
}

#new-task-body {
  height: 250px;
}

button {
  border: 0;
  font-size: 1.2em;
  color: white;
  background-color: $button-color;
  padding: .65em;
  &:hover, &:focus {
    background-color: lighten($button-color, 10);
  }
  &:active {
    background-color: darken($button-color, 10);
  }
}

.task-delete {
  font-size: 0.6em;
  padding: 0.2em;
  margin-bottom: 0.5em;
}

.delete-button {
  float: right;
  background-color: $danger-color;
  opacity: .7;
  margin-top: .25em;

  &:hover {
    opacity: 1;
    background-color: $danger-color;
  }
  &:active, &:focus {
    opacity: 1;
    background-color: darken($danger-color, 5);
  }
}

#tasks-list {
  list-style-type: none;
}

#tasks-list > li.task {
  min-height: 24px;
  margin-bottom: 1em;
  margin-left: -40px;
  padding: .5em;
  border: 5px solid #EEE;
  height: auto;
}

#tasks-list > li .list-row-element {
  height: 100%;
  padding: 0px 10px;
}

#tasks-list > li.task .fa-lg {
  vertical-align: -5%;
}

#tasks-list span.task-title {
  font-size: 24px;
  font-weight: 500;
  color: #262626;
}

#tasks-list span.task-title-check,
#tasks-list span.task-title-caret {
  min-width: 20px;
}

#tasks-list span.task-body {
  display: block;
  display:none;
}

.new-task-errors-wrapper {
  min-height: 25px;
  color: $danger-color;
  margin-bottom: 2em;
}

#new-task-errors.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .4s, opacity .4s linear;
}

#new-task-errors {
  visibility: visible;
  font-weight: 600;
  letter-spacing: 1.2;
  opacity: 1;
  transition: opacity .4s linear;
}

#tasks-list > li.delete-fade.task {
  opacity: .8;
  font-size: 1em;
  font-weight: bold;
  color: $danger-color;
  background-color: lighten($danger-color, 60);
  border-color: lighten($danger-color, 45);
}

.complete {
  color:red;
  text-decoration:line-through;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darken($form-color, 40);
}
::-moz-placeholder { /* Firefox 19+ */
  color: darken($form-color, 40);
}
:-ms-input-placeholder { /* IE 10+ */
  color: darken($form-color, 40);
}
:-moz-placeholder { /* Firefox 18- */
  color: darken($form-color, 40);
}
