
$form-color: #eaeaea;
$button-color: #ababab;
$danger-color: #842322;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

input, textarea {
  color: darken($form-color, 50);
}

.container {
  margin: auto;
  max-width: 600px;
}

.new-idea {
  background-color: $form-color;
  border: 5px solid darken($form-color, 5);
  padding: 1em;
  margin-bottom: 2em;
}

.new-idea-field {
  margin-bottom: 1em;
}

.new-idea-label {
  display:block;
  color: darken($form-color, 50);
}

.new-idea-input {
  background-color: $form-color;
  border: 2px solid #f0f0f0;
  border-radius: 1px;
  display: block;
  font-size: 1.5em;
  margin: 2px 0;
  padding: 3px;
  width: 100%;
}

#new-idea-body {
  height: 250px;
}

input[type="submit"], button {
  border: 0;
  color: white;
  background-color: $button-color;
  font-size: 0.8em;
  padding: 1em;
  &:hover {
    background-color: lighten($button-color, 10);
  }
  &:active {
    background-color: darken($button-color, 10);
  }
}

.idea {
  margin-bottom: 1em;
  padding: 1em;
  border: 5px solid #EEE;
}

.idea-quality {
  text-transform: capitalize;
  font-size: 0.8em;
  &:before {
    content: 'Quality: ';
    font-weight: bold;
  }
}

.idea-buttons {
  font-size: 0.8em;
  padding: 0.5em;
  border: 1px solid #EEE;
  margin-bottom: 0.5em;
  & button {
    margin-right: 1em;
  }
}

.idea-delete {
  background-color: $danger-color;
  &:hover {
    background-color: lighten($danger-color, 10);
  }
  &:active {
    background-color: darken($danger-color, 10);
  }
}

#new-idea-errors {
  margin-bottom: 2em;
  color: $danger-color;
  font-weight: bold;
  min-height: 20px;
}

.error-present {
  color: $danger-color;
}